<div class="mobile-wrapper">
  <%= render 'shared/employee_heading', current_trip: @trip %>
  <%= render 'receipts/employee_receipt_index', current_trip: @trip %>
  <%= render 'shared/floating_button', current_trip: @trip %>
</div>
