<%= render 'shared/side-bar' %>
<div class="d-flex">
  <div class="width-200"></div>
  <div class="container employer-content">
      <h1 style="text-align:center;">EDIT A TRIP</h1>
    <%= render 'form' %>
  </div>
</div>
