<%= render 'shared/side-bar' %>
<div class="container">
  <h1>New Trip Assignment</h1>
  <%= render 'form' %>
  <div class="card-detail">
    <%= link_to "Go back", employer_dashboard_path, class: "btn btn-approve w-30" %>
  </div>
</div>