<div class="container mt-3">
  <div class="report-box">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr class="top">
          <td colspan="4">
            <table>
              <tbody>
                <tr>
                  <td class="title">
                    <h1>Bokkun</h1>
                    <h3>Simply Expense</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="8">
            <h3 class="doc-title">Travel Expense Report</h3>
          </td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="bordered" width="80px"><b>CEO</b></td>
          <td class="bordered" width="80px"><b>Section</b></td>
          <td class="bordered" width="80px"><b>Employee</b></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="bordered" height="72px" rowspan="2"></td>
          <td class="bordered" height="72px" rowspan="2"></td>
          <td class="bordered" height="72px" rowspan="2"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
