// Define variables for your color scheme

// For our colors:
$red: #AD5A5D;
$blue: #2A3347;
$yellow: #EFC125;
$light-blue: #96B4C2;
// $off-white: #F8F7F1;
$off-white: #f1f3f4;
$white: #FFFFFF;

//Standard colors
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Opaque colors
$o-yellow: opacify($yellow, 0.5)
