// Define variables for your color scheme

// For example:
$white: #F8F7F1;
$blue: #2A3347;
$yellow: #EFC125;
$red: #AD5A5D;
$light-gray: #96B4C2;

// Unused standard colors
// $green: #1EDD88;
// $gray: #0E0000;
