<div class="budget-bar">
  <div class="budget-empty">
    <p><%= trip_budget.total_remaining %>/<%= trip_budget.budget.amount %> </p>
    <div class="budget-percentage" style="width: <%= trip_budget.budget_percent %>%">
    </div>
  </div>
</div>
