<div class="budget-bar">
  <div class="budget-empty">
    <p><%= current_trip.total_remaining %>/<%= current_trip.total_budget %> </p>
    <div class="budget-percentage" style="width: <%= current_trip.budget_percent %>%">
    </div>
  </div>
</div>
