<div class="mobile-cards">
  <div class="mobile-search text-center">
    <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search trips"
              %>
  </div>
</div>
