<div class='mobile-heading'>
  <div class="heading-text">
    <h3><%= receipt.date %>
    <h1><%= receipt.company %></h1>
    <h2><%= receipt.budget.name %></h2>
  </div>
  <div class='new-button'>
    <i class="fas fa-plus-circle"></i>
  </div>
</div>
