<footer class="bg-light-blue footer">
  <div class="footer-links">
    <a href="https://github.com/AdilOmary" target="_blank"  title="Adil Omary" data-toggle="popover" data-trigger="hover" data-content="Project Manager"><%= image_tag "https://avatars1.githubusercontent.com/u/59479470?s=460&v=4", alt: "Adil's image", class: "avatar-bordered" %></a>
    <a href="https://github.com/rnd00" target="_blank" title="Ryanda Diedan" data-toggle="popover" data-trigger="hover" data-content="Lead Developer"><%= image_tag "https://avatars2.githubusercontent.com/u/42826652?s=460&v=4", alt: "Ryanda's image", class: "avatar-bordered" %></a>
    <a href="https://github.com/toadslop" target="_blank" title="Brian Heise" data-toggle="popover" data-trigger="hover" data-content="Back-end"><%= image_tag "https://avatars2.githubusercontent.com/u/31160338?s=460&v=4", alt: "Brian's image", class: "avatar-bordered" %></a>
    <a href="https://github.com/Gakkun89" target="_blank"title="Mike Warren" data-toggle="popover" data-trigger="hover" data-content="Front-end"><%= image_tag "https://avatars0.githubusercontent.com/u/28691463?s=460&v=4", alt: "Mike's image", class: "avatar-bordered" %></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon Tokyo by Team Bokkun
  </div>
</footer>
