<h1>UI KIT</h1>
<p>TEMPORARY, GONNA BE DELETED AT THE END</p>

<p>----------------------</p>----------------------

<p>BANNER </p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/6cInAvG.jpg);">
  <div class="container">
    <h1><strong>Bokkun</strong></h1>
    <p>Simplified expenses for busy professions.</p>
    <a class="btn btn-flat" href="#">Discover</a>
  </div>
</div>

<p>----------------------</p>----------------------


<p>CARD - LANDING PAGE</p>
<div class="landing-arguments-container">
  <div class="argument">
    <div class="argument-info">
      <h2>Fast categorization !</h2>
      <p>Simple list of expense categories for 1-click categorization</p>
    </div>
  </div>
  <div class="argument">
    <div class="argument-info">
      <h2>OCR Assisped Input</h2>
      <p>OCR autfills input for hassle-free data entry.</p>
    </div>
  </div>
  <div class="argument">
    <div class="argument-info">
      <h2>Auto-compliance</h2>
      <p>Smart algorithm ensures your submissions comply with company policy !</p>
    </div>
  </div>
</div>

<p>----------------------</p>----------------------

<p>BUTTON</p>
<p><button type="btn-main" class="btn btn-primary">Primary</button></p>

<p>----------------------</p>----------------------

<p>FOOTER</p>
<%= render 'shared/footer' %>

