<div class="banner">
    <div class="container">
      <h1><strong>Bokkun</strong></h1>
      <p >Simplified expenses for busy professions.</p>
        <%= link_to "Simplify your expenses...", new_user_session_path, class: "btn btn-flat" %>
    </div>
  </div>

<section class="section--primary">
  <div class="container row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 features">
      <i class="fa fa-bolt"></i>
      <p class="mr-3 m-md-3">
        Simple list of expense categories for 1-click categorization.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 features">
      <i class="fa fa-heart"></i>
      <p class="mr-3 m-md-3">
        OCR autofills input for hassle-free data entry.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 features">
      <i class="fa fa-bank"></i>
      <p class="mr-5 m-md-3">
        Smart algorithm ensures your submissions comply with company policy!
      </p>
    </div>
  </div>
</section>
