<div class="wrapper">
<!-- BANNER -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ibb.co/WvxsYLb/banner.jpg);">
    <div class="container">
      <h1><strong>Bokkun</strong></h1>
      <p>Simplified expenses for busy professions.</p>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-flat"  %>
    </div>
  </div>
  <!-- ARGUMENTS -->
  <div class="landing-arguments-container">
    <div class="argument">
      <div class="argument-info">
        <h2>Fast categorization !</h2>
        <p>Simple list of expense categories for 1-click categorization</p>
      </div>
    </div>

    <div class="argument">
      <div class="argument-info">
        <h2>OCR Assisped Input</h2>
        <p>OCR autofills input for hassle-free data entry.</p>
      </div>
    </div>

    <div class="argument">
      <div class="argument-info">
        <h2>Auto-compliance</h2>
        <p>Smart algorithm ensures your submissions comply with company policy !</p>
      </div>
    </div>
  </div>
</div>
