<div class='mobile-heading'>
  <div class="heading-text">
    <h3>Date MM-DD - MM-DD </h3>
    <h1>Trip Name</h1>
    <h2>Customer Name</h2>
  </div>
  <div class="budget">
    <p>Remaining Budget</p>
    <div class="budget-bar">
      <div class="budget-empty">
        <div class="budget-percentage"></div>
        <!-- Remember to use embedded Ruby to set the width of budget-percentage -->
      </div>
    </div>
  </div>
  <div class="new-button">
    <i class="fas fa-plus-circle"></i>
  </div>
</div>
