.content {
  min-height: 100vh;
  flex: 1 0 auto;
//   margin-left: 200px;
//   background-color: $off-white;
}

.employer-content {
  margin-top: 16px !important;
  overflow: scroll;
}

@media screen and (min-width: 1281px) {
  .employer-content {

  }
}

@media screen and (min-width: 1600px) {
  .employer-content {

  }
}



/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1000px) {
  .dash-container {
    display: flex;
    flex-wrap: wrap;
  }
}
