.budget-bar {
  background-color: $blue;
  width: 90%;
  padding: $spacer;
  border-radius: 4px;

}

.heading {
    margin: auto;
  }

.list {
    margin: auto 0;
  }

.budget-empty {
  background-color: $off-white;
  height: $spacer * 4.5;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

  p {
    position: absolute;
    line-height: 0;
    top: 50%;
    color: black;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
  }
}

.budget-percentage {
  background-color: $yellow;
  height: 100%;
  border-radius: 4px;

}

.opaque-budget {
  background-color: $o-yellow;
  height: 100%;
  border-radius: 4px;
}

.budget {
  text-align: center;
  color: $white;
  line-height: 0;
}

.in-red {
  background-color: red;
  height: 100%;
  border-radius: 4px;
  position: relative;

  p {
    position: absolute;
    line-height: 0;
    top: 50%;
    color: black;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
}

.budget-title {
  margin-bottom: 0.5em;
}
