.btn-main {
  border: 1px solid #2A3347;
  background-color: $white;
  border-radius: 30px;
  margin-right: $spacer;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
  }
}

.btn-table-edit {
  border: 1px solid $off-white;
  color: $blue;
  background-color: $yellow !important;
  border-radius: 30px;
  transition: 0.5s;
  justify-content: center;
  margin: 0 12.5% !important;
  &:active {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3) !important;
  }
}

.btn-table-delete {
  border: 1px solid $off-white;
  color: $blue;
  background-color: $red !important;
  border-radius: 30px;
  transition: 0.5s;
  justify-content: center;
  margin: 0 12.5% !important;
  &:active {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3) !important;
  }
}

.btn-td {
  margin: 0 auto !important;
  justify-content: center;
  padding: 0 !important;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2A3347;
  transition: background 0.3s ease;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $light-blue;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  display: flex;
  justify-content: center;
}

.btn-gradient:hover {
  background: $blue;
  color: white;

}

.btn-approve {
  border: 1px solid $off-white;
  color: $blue;
  padding: 4px !important;
  background-color: $yellow;
  border-radius: 30px;
  margin-right: $spacer * 2;
  transition: 0.5s;
  justify-content: center;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
  }
}
