/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: $off-white;
  position: relative;
  z-index: 5;
}

.navbox {
  display: flex;

  img {
    width: 48px;
    background-color: $blue;
    padding: $spacer;
  }

  a {
    padding: none !important;
  }

  p {
    color: $blue;
    padding: 14px 17px;
    font-size: 17px;
  }
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a.icon {
  color: $blue;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: $off-white;
  color: white;
}
