.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color: $yellow;
  text-align:center;
  font-size: 24px;
  z-index: 10;
}

.halo-sm {

}

.halo {
  background-color: $blue;
  border-radius: 50%;
}

.my-float{
  margin-top: 18px;
  margin-left: 8px;
  z-index: 10;

  i {
    font-size: 36px;
  }
}
