.float {
  position:fixed;
  width:72px;
  height:72px;
  bottom:64px;
  right:35px;
  text-align:center;
  font-size: 32px;
  z-index: 10;

  i{
    padding-top: 2px;
  }
}

.float-check {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:35px;
  text-align:center;
  z-index: 10;
}

.my-float-check {
  margin-top: 4px;
  margin-left: 0px;
  z-index: 10;
  font-size: 40px !important;
}

.halo {
  background-color: $blue;
  border-radius: 50%;
}

.my-float-receipt {
  margin-top: 18px;
  margin-left: 8px;
  z-index: 10;
}
