
.bg-light-blue {
  background: $light-blue;
}

.footer {
  // flex-shrink: 0;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: $black;
  font-size: 12px;
  z-index: 5;
  position: relative;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer a img {
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.36);
  transition: 0.5s;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover img{
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
  }
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{
  color: $off-white;
  font-size: 1vw;
}
