.mobile-cards {
  display: flex;
  flex-direction: column;
  margin: $spacer;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

.mobile-card {
  background-color: none;
  width: 90%;
  margin: ($spacer / 2) auto;
  text-align: center;
  padding: $spacer;
  margin-top: $spacer;
  display: flex;

  &:active {
    box-shadow: none;
  }

  p {
    line-height: 0.25;
  }

  input {
    margin: ($spacer * 2) auto;
    width: 90%;
  }
}

.mobile-card-content {
  padding: $spacer 0;
}

.symbol {
  background-color: $blue;
  border-radius: 12px;
  height: 56px;
  width: 56px;
  padding: $spacer;
  color: $off-white;
  margin-right: -2px;
}
