.mobile-cards {
  display: flex;
  flex-direction: column;
  margin: $spacer;
  justify-content: center;
  position: relative;
  bottom: 50px;
  margin-top: 28px;
  margin-left: 0;
}

.mobile-card {
  background-color: none;
  width: 90%;
  margin: ($spacer / 2) auto;
  text-align: center;
  padding: $spacer;
  margin-top: $spacer;
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 0;

  p {
    line-height: 0.25;
  }

  input {
    margin: ($spacer * 2) auto;
    width: 90%;
  }
}

.mobile-card-content {
  padding: $spacer 0;
}

.symbol {
  background-color: $blue;
  border-radius: 12px;
  height: 72px;
  width: 72px;
  padding: $spacer;
  color: $off-white;
  margin-right: -2px;
  margin-bottom: 0;
  i {
    margin-top: 4px;
    font-size: 48px;
  }
}
