.mobile-heading {
  background-color: $blue;
  height: auto;
  border-radius: 30px;
  position: relative;
  bottom: $spacer * 3;
  padding-top: $spacer *3;
  box-shadow: 1px 1px 2px black;
}

.heading-text {
  padding: ($spacer * 3) 0;
  color: $white;
  text-align: center;

  p {
    margin-top: $spacer * 2;
  }
}

.budget-bar {
  height: $spacer * 3;
  background-color: $light-blue;
  width: 90%;
  margin: auto;
  padding: $spacer / 2;
  border-radius: 4px;
}

.budget-empty {
  background-color: $off-white;
  height: $spacer * 2;
  border-radius: 4px;
}

.budget-percentage {
  background-color: $yellow;
  height: 100%;
  width: 25%;
  border-radius: 4px;
}

.budget {
  text-align: center;
  color: $white;
  line-height: 0;
}

.new-button {
  text-align: center;
  font-size: 48px;
  color: $yellow;
  text-shadow: 4px, 4px, 20px, black;
}
