.mobile-cards {
  display: flex;
  flex-direction: column;
  margin: $spacer;
  justify-content: center;
}

.mobile-card {
  background-color: $light-blue !important;
  width: 90%;
  margin: ($spacer / 2) auto;
  border-radius: 4px;
  text-align: center;
  padding: $spacer;
  margin-top: $spacer;
  box-shadow: 1px 1px 2px $blue;

  &:active {

  }

  p {
    line-height: 0.25;
  }

  input {
    margin: ($spacer * 2) auto;
    width: 90%;
  }
}

.mobile-card-content {
  padding: $spacer 0;
}
