.mobile-heading {
  background-color: $blue;
  height: auto;
  border-radius: 16px;
  padding-top: $spacer *3;
  box-shadow: 1px 1px 2px black;
  padding-bottom: 16px;
}

.heading-text {
  padding: ($spacer * 3) 0;
  color: $white;
  text-align: center;

  // p {
  //   margin: $spacer * 2 !important;
  // }
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

.new-button {
  text-align: center;
  padding: $spacer;

  i {
    color: $yellow;
    font-size: 48px;
    text-shadow: 4px, 4px, 20px, black;
  }
}

.delete-button {
  text-align: center;
  padding: $spacer;

  i {
    color: $red;
    font-size: 48px;
    text-shadow: 4px, 4px, 20px, black;
  }
}

.edit-button {
  text-align: center;
  padding: $spacer;

  i {
    color: $blue;
    font-size: 48px;
    text-shadow: 4px, 4px, 20px, black;
  }
}
