.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  z-index: 10;
  & h3{
  color: $yellow;
  }
}

.dropdown-menu-right{
  width: auto;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item{
  color: $blue
}


.nav-link {
  color: $yellow !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4) !important;
  font-size: 24px;
}
