.list-box {
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

.receipt-list {
  width: 90%;
  border-radius: 4px;
  margin-top: -16px;
  padding: 0 4px;
  p, a {
    line-height: 2em;
    font-size: 18px;
    transition: 0.5s;
    &:active {
      background-color: $yellow;
      opacity: 0.4;
    }
  }
  .receipt-name {
    width: 100%;
    border: 1px solid $blue;
    padding: $spacer;
    p {
      margin: 0 !important;
      padding: 4px;
    }
  }
}

.receipt-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.push {
  width: 56px;
}
