.receipt-list {
  margin: 0 $spacer * 4;
  margin-left: 25%;
  p, a {
    line-height: 1em;
    font-size: 24px;
    margin-top: $spacer !important;
  }
  .receipt-name {
    width: 100%;
    border: 1px solid $blue;
    margin-top: $spacer !important;
    text-align: center;
    padding: $spacer;
    box-shadow: 1px 1px 1px $blue;
    p {
      margin: 0 !important;
      padding: 4px;
    }
    &:active {
      background-color: $blue;
    }
  }
}
