.receipt-item-list {
  display: inline-block;
  h2 {
  text-align: center;
  }

  table caption {
    padding: .5em 0;
  }

  @media screen and (max-width: 767px) {
    table caption {
      border-bottom: 1px solid #ddd;
    }
  }

  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }
}

.receipt-input {
  margin-bottom: -16px;
}

.table-container {
  margin: 0 auto !important;
  text-align: center;
}

.table-actions {
  width: 88px;
  padding: 10px !important;
  i {
    font-size: 24px;
    padding: 4px !important;

  }
}

.receipt-table {
  tr {
    margin: 0;
  }

  td {
    padding: 8px 8px;
  }
}

.receipt_item_tax {
  legend {
    display: none;
  }
}
