.list-box {
  display: flex;
}

.receipt-list {
  width: 90%;
  padding: $spacer / 2;
  border-radius: 4px;
  position: relative;
  bottom: 56px;
  p, a {
    line-height: 1em;
    font-size: 18px;
  }
  .receipt-name {
    width: 100%;
    border: 1px solid $blue;
    margin-top: $spacer !important;
    padding: $spacer;
    p {
      margin: 0 !important;
      padding: 4px;
    }
    &:active {
      background-color: $blue;
    }
  }
}

.receipt-line {
  display: flex;
  justify-content: space-between;
}

.push {
  width: 56px;
}
