$bg-body: #f4f4f4;
$bg: white;
$upper-height: 140px;
$trs-time: .8s;
$trs-time-sm: .35s;
$trs-ease: ease;

html {   box-sizing: border-box; } *, *:before, *:after {   box-sizing: inherit; }

body {
  margin: 40px;
  background: $bg-body;
}

.receipt {
  width: 400px;
  max-width: 100%;
  margin: auto;
  position: relative;
}

// Shared receipt half styles
.receipt__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: relative;

  background: $bg;
  perspective: 1000px;

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 100px;

    position: absolute;
    left: 0;

    backface-visibility: hidden;
    transition: all $trs-time $trs-ease;
    transition-delay: $trs-time-sm;
  }

  .active & {
    &::after {
      transition-delay: 0s;
    }
  }
}

// Upper half
.upper {
  padding: 20px;
  z-index: 10;

  &::after {
    top: 100%;

    background: darken($bg, 3%);
    border-top: 1px dashed #dedede;

    transform: rotate3d(1, 0, 0, -90deg);
    transform-origin: top center;
  }

  .active & {
    &::after {
      background: $bg;
      transform: rotate3d(1, 0, 0, 0deg);
    }
  }
}

// Lower half
.lower {
  transition: transform $trs-time $trs-ease;
  transition-delay: $trs-time-sm;
  box-shadow: 0 11px 8px -6px gray;

  &::after {
    bottom: 100%;

    background: darken($bg, 8%);

    transform: rotate3d(1, 0, 0, 90deg);
    transform-origin: bottom center;
  }

  .active & {
    border-top: none;

    transform: translateY(200px);
    transition-delay: 0s;

    &::after {
      background: $bg;
      transform: rotate3d(1, 0, 0, 0deg);
    }
  }
}

// Text styles
h1 {
  margin: 10px 0 20px;

  &.page-title {
    text-align: center;
    margin-bottom: 60px;
  }
}

// p {
//   margin: 0;

//   &.sm {
//     font-size: 80%;
//   }
// }

// Button
button {
  $color: #888;

  width: 100%;
  padding: 15px 20px;

  background: none;
  outline: none;
  border: none;
  // border-top: 1px dashed #dedede;

  color: $color;
  font-size: 90%;
  font-weight: 600;

  cursor: pointer;
  transition: all $trs-ease $trs-time-sm;

  &:hover {
    color: darken($color, 25%);
  }
}

// Receipt content
.receipt__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px;

  position: absolute;
  top: $upper-height;
  left: 0;
  z-index: 20;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity $trs-ease $trs-time-sm, transform $trs-ease $trs-time-sm;
  transition-delay: 0s;

  .active & {
    opacity: 1;
    transform: translateY(0);
    transition-delay: $trs-time;
  }
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
