@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$off-white: $off-white;
$yellow: $yellow;
$pad:     0;

html,
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
  height: 100%;
  background-color : $off-white
}
.hide{
  display: none;
}
.head-nav {
  i, img {
    margin-left: 8px;
  }

  li{
    &:hover{
        background-color: $off-white;
        &:before{
            background-color: $off-white;
        }
        svg{
            background: $off-white;
            fill: $light-blue;
        }
        a{
          color: $blue;
        }
    }
    &:before{
        position: absolute;
        height: 100%;
        content: "";
        background: $blue;
        z-index: 1;
        transition: background 400ms;
    }
  }
  ul{
      margin: {top:$pad*2;right:0;bottom:0;left:0;}
      padding: 0;
      list-style: none;
  }
  li{
      position: relative;
      clear: both;
      width: 100%;
      padding: 0;
      transition: background 400ms;
      a{
          display: flex;
          padding: {top:2vh;bottom:2vh;}
      }
  }
  a{
      align-items: center;
      width: 100%;
      color: $yellow;
      text-decoration: none;
      transition: color 400ms;
      span{
          position: relative;
          display: block;
          z-index: 0;
          font-family: Roboto;
          text-indent: -20em;
          white-space: nowrap;
          transition: text-indent 400ms ease-in-out;
      }
  }
  svg{
      position: relative;
      max-width: 80px;
      max-height: 30px;
      z-index: 1;
      fill: $yellow;
      background: $blue;
      transition: 400ms;
  }
  @media screen and (max: 768px){
      ul{
          margin: {top:$pad/4}
      }
      svg{
          max-width: 20px;
      }
  }
}

.main-head{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background: $blue;
  transition: width 400ms;
  // &:hover{
  //     width: 200px;
  //     & + .wrap-all-the-things{
  //         transform: translateX(336px);
  //         max-width: 100%;
  //         opacity: 0.4;
  //     }
      .head-nav{
          li{
              @for $i from 1 through 5 {
                  &:nth-of-type(#{$i}){
                      span{
                          transition-delay: 100ms * $i;
                      }
                  }
              }
          }
          span{
              text-indent: 0;
          }
      }
  }
  @media screen and (max: 768px){
      width: 70px;
      padding: 0 $pad;
      .head-nav{
          padding: {left:7px;}
      }
      // &:hover{
      //     .head-nav{
      //         span{
      //             text-indent: 1em;
      //         }
      //     }
      // }
  }
// }
