<div class="mobile-wrapper">
  <%= render 'receipts/employee_receipt_heading', receipt: @receipt %>
  <% if @receipt.photo.nil? %>
    <div class="container receipt-container">
    <%= cl_image_tag @receipt.photo.key, effect: "trim:20" if @receipt.photo.attached? %>
  </div>
  <% else %>
    <div class="container mt-3">
      <p>No receipt attached.</p>
    </div>
  <% end %>
  <div class="container">
    <%= render 'receipt_items/form' %>
  </div>
  <% if @receipt.receipt_items.empty? %>
    <div class="container">
      <p>Please enter each item from your receipt below.</p>
    </div>
  <% else %>
    <%= render 'receipts/employee_receipt_item_list', receipt: @receipt %>
  <% end %>
</div>
