<div class='mobile-heading'>
  <div class="heading-text receipt">
    <h2>Receipt details for</h2>
    <h5><%= receipt.budget.name %> purchased at <%= receipt.company %></h3>
    <h5>on <%= receipt.date.strftime("%b %d") %></h4>
    <%= link_to edit_receipt_path(@receipt) do %>
      <div class="edit-button">
        <i class="fas fa-pencil-alt"></i>
      </div>
    <% end %>
  </div>
</div>
