<%= render 'shared/side-bar' %>

<div class="container">
  <%= render 'form' %>
  <% if current_user.manager %>
    <%= link_to "Go back", trip_path(@trip), class: "btn btn-approve w-30" %>
  <% else %>
    <%= link_to "Go back", trip_path(@trip), class: "btn btn-approve w-30" %>
  <% end %>
</div>
