<%= render 'shared/side-bar' if current_user.manager %>
<div class="container employer-content">
  <h1 style="text-align:center;">NEW RECEIPT</h1>
  <%= render 'form', receipt: @receipt, trip: @trip %>
  <div class="card-detail">
  </div>
</div>
