<%= render 'shared/side-bar' if current_user.manager %>
<div class="container">
  <h1>NEW RECEIPT</h1>
  <p>Enter all the informations</p>
  <%= render 'form', receipt: @receipt, trip: @trip %>
  <div class="card-detail">
    <%= link_to "Go back", trip_path(@trip), class: "btn btn-approve w-30" %>
  </div>
</div>
