<!DOCTYPE html>
<html>
<head>
<title>Bokkun | Expense Report</title>
  <%= wicked_pdf_stylesheet_link_tag "report" %>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/report.scss">
</head>
<body>
  <%= yield %>
</body>
</html>
